@font-face {
	font-family: Frequenz;
	src: url('/fonts/frequenz/FrequenzTrial-Regular.ttf') format('trueType');
	font-weight: 400;
}

@font-face {
	font-family: Frequenz;
	src: url('/fonts/frequenz/FrequenzTrial-Medium.ttf') format('trueType');
	font-weight: 600;
}

@font-face {
	font-family: Frequenz;
	src: url('/fonts/frequenz/FrequenzTrial-Bold.ttf') format('trueType');
	font-weight: 800;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.anim-from-bottom {
		animation: slide-in 300ms both;
		animation-timing-function: theme(transitionTimingFunction.ease-out-1);
		animation-delay: calc(var(--_index) * 100ms + 200ms);
	}
	@keyframes slide-in {
		from {
			transform: translate(0, 100%);
			clip-path: inset(0% 0% 100% 0%);
		}
		to {
			transform: translate(0, 0%);
			clip-path: inset(0% 0% 0% 0%);
		}
	}
}
