@font-face {
	font-family: Frequenz;
	src:
		url('/fonts/frequenz/Frequenz_W-Regular.woff2') format('woff2'),
		url('/fonts/frequenz/Frequenz_W-Regular.woff') format('woff');
	font-weight: 100 500;
}

@font-face {
	font-family: Frequenz;
	src:
		url('/fonts/frequenz/Frequenz_W-Bold.woff2') format('woff2'),
		url('/fonts/frequenz/Frequenz_W-Bold.woff') format('woff');
	font-weight: 500 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.anim-from-bottom {
		animation: slide-in 300ms both;
		animation-timing-function: theme(transitionTimingFunction.ease-out-1);
		animation-delay: calc(var(--_index, 0) * 100ms + 200ms);
	}
	@keyframes slide-in {
		from {
			transform: translate(0, 100%);
			clip-path: inset(0% 0% 100% 0%);
		}
		to {
			transform: translate(0, 0%);
			clip-path: inset(0% 0% 0% 0%);
		}
	}
}
